body{
    background-image:url(../imagens/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    backdrop-filter: opacity(100%);

    backdrop-filter: hue-rotate(45deg);


    color:white;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titulo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo__h1{
    position: relative;
    font-family: 'Macondo', cursive;
    font-size: 102px;
    color: rgb(214, 194, 15);
    text-shadow: 2px 2px 10px rgb(114 45 24);
    -webkit-text-stroke: 2px rgb(114, 45, 24);
    top: 2.5em;


}

.jogar>a{
    text-decoration: none;
}

.jogar__botao{
    background-color: rgb(0 0 0 / 36%);

    padding: 0.3em 1.2em;
    border-radius: 19px;
    color: rgb(214 194 15);
    text-shadow: 0px 2px 10px rgb(114 45 24);
    -webkit-text-stroke: 1px rgb(114, 45, 24);
    font-size: 47px;
    font-family: 'Macondo',cursive;
    border: #3b8b4d solid 4px;
    letter-spacing: 3px;
    transition: filter 2s, box-shadow 2s;
    /* transition: box-shadow 1s; */
}
.jogar__botao:hover{
    box-shadow: inset 0 0 5px rgba(255,255,255, .3), 0 0 50px #3b8b4d;
    filter: brightness(150%);
}

.jogar__login{
    text-decoration: none;
    text-decoration: none;
    color: #fff;
    margin-top: 0.5em;
}


.sobre{
    margin-top: 20em;
    width: 100%;
    height: 21em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sobre>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sobre__titulo{
    position: relative;
    font-family: 'Macondo', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(214, 194, 15);
    text-shadow: 2px 2px 10px rgb(114 45 24);
    -webkit-text-stroke: 1px rgb(114, 45, 24);
}

.sobre__textarea{
    font-family: 'Roboto', sans-serif;
    height: 70%;
    color: #fff;
    width: 66%;
    background-color: #165424ab;
    border: 6px solid #041207;
    resize: none;
}

.sobre__botao{
    margin-top: 2em;
    background-color: rgb(0 0 0 / 36%);
    padding: 0.3em 1.2em;
    border-radius: 19px;
    color: rgb(214 194 15);
    text-shadow: 0px 2px 10px rgb(114 45 24);
    -webkit-text-stroke: 1px rgb(114, 45, 24);
    font-size: 27px;
    font-family: 'Macondo',cursive;
    border: #cbbb21 solid 4px;
    letter-spacing: 3px;
    transition: filter 2s, box-shadow 2s;
}

.deslogar{
    margin-top: 5em;
}

.deslogar__botao{
    margin-top: 2em;
    background-color: rgb(0 0 0 / 36%);
    padding: 0.3em 1.2em;
    border-radius: 19px;
    color: rgb(214 194 15);
    text-shadow: 0px 2px 10px rgb(114 45 24);
    -webkit-text-stroke: 1px rgb(114, 45, 24);
    font-size: 27px;
    font-family: 'Macondo',cursive;
    border: #cb2121 solid 4px;
    letter-spacing: 3px;
    transition: filter 2s, box-shadow 2s;
}